.ng-invalid.ng-dirty {
    border-color: red;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgpa(0,0,0,.075), 0 0 8px rgpa(233, 175, 102, .6);
    box-shadow: inset 0 1px 1px rgpa(0, 0, 0, .075), 0 0 8px rgpa(233, 175, 102, .6);
    }

.ng-valid{
    border-color: green;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgpa(0,0,0,.075), 0 0 4px rgpa(102, 233, 102, .6);
    box-shadow: inset 0 1px 1px rgpa(0, 0, 0, .075), 0 0 4px rgpa(102, 233 , 102, .6);
    }

